html, body {
    overscroll-behavior: none;
    margin: 0px;
    overflow: hidden;
    min-height: 100%;
}

body {
    background-color: #343434;
    font-family: -apple-system, system-ui, "Open Sans", sans-serif;
    font-size: 16px;
    touch-action: none;
}

#multimediaLibContainer, #multimediaLibContainer canvas {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#multimediaLibContainer {
    text-align: center;
    color: #ffffff;
}

#imageContainer, #audioContainer, #fontContainer, #resourceContainer {
    display: none;
}

#loading {
    display: block;
    margin: 100px auto 100px auto;
}

#inputContainer form {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    top: 200px;
    width: 300px;
    z-index: 2;
    background-color: #343434;
    color: #ffffff;
    padding: 16px;
    border: 1px solid #ffffff;
    text-align: center;
}

#inputContainer input[type=text] {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 250px;
}

#inputContainer button {
    width: 100px;
    background-color: #343434;
    color: #ffffff;
    padding: 4px;
    border: 1px solid #ffffff;
}
